<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><title> Preguntas </title>
    <link rel="icon" href="/favicon.gif" type="image/x-icon" />
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
    <link rel='stylesheet'
       type='text/css'
       media='only screen and (min-width: 530px) and (min-device-width: 481px)'
       href='/stylesheets/wide.css' />
    <link rel='stylesheet'
       type='text/css'
       media='only screen and (max-width: 480px)'
       href='/stylesheets/smartphone.css' />
    <% if(session.user){ %>
    <script type="text/javascript">
    	//carga el tiempo de sesion al cargar la página
       var plazo=<%= session.plazo %>;
       //función que muestra la cuenta atras del tiempo que queda de sesión
       function muestraTiempo(){
          var pl = document.getElementById('plazo');
          var log=document.getElementById('log');
          if(plazo<0){ //ya ha caducado la sesion aunque no se verá hasta recargar, por lo que se permite relogear sin recargar
         	 pl.innerHTML = '';
         	 log.href='/login';
         	 log.innerHTML='re-Login';
          }else{//vamos con la cuenta atras
          	var min=Math.floor(plazo/60);
          	var seg=(plazo--)%60;
          	var sMin='00'+min;
          	var sSeg='00'+seg; 
          	pl.innerHTML = sMin.substring(sMin.length-2)+':'+sSeg.substring(sSeg.length-2)+' '; 
          } 
       }
    <% } %>
    </script>
  </head>

  <body <% if(session.user){ %> onload="muestraTiempo();setInterval(muestraTiempo, 1000);" <% } %> >
    <div id="page-wrap">
      <header class="main" id="h1">
      
      	<% if(!session.user){ %>
      		<span class="right"><a href="/login">Login</a></span>
      	<% }else{ %>
      		<span class="right"> <%= session.user.username %>: <span id="plazo"></span> <a id="log" href="/logout">Logout</a></span>
      	<% } %>
      	
        <h2>Quiz<span>: el juego de las preguntas</span></h2>
      </header>
      <nav class="main" id="n1">
        <span><a href="/">Inicio</a></span>
        <span><a href="/quizes">Preguntas</a></span>
        <span><a href="/author">Autor</a></span>
        <span><a href="/quizes/statistics">Estadísticas</a></span>
      </nav>
      <section class="main" id="s1">
       <% if (errors.length) { %>
       		<span id="ErrorMsgs">
       		  Corregir errores:<br/>
       		  <% for (var i in errors) { %>
       		  	<span> <%= errors[i].message %> </span><br/>
       		  <% } %>
       		</span>
       	<% } %>
       	
       <div> <%- body %> </div>
      </section>

      <footer class="main" id="f1">
         <p><a href="http://es.wikipedia.org/wiki/Quiz" target="_blank"> ¿Qué es un Quiz?</a></p>
         <p><a href="https://github.com/jgilpalacios/quiz" target="_blank"> Página del proyecto </a></p>
      </footer>
    </div> 
  </body>
</html>
