<form method="get" action="/quizes" name="busqueda">Texto de búsqueda:<input
name="search" value="texto a buscar"><input name="enviar"
value="enviar" type="submit"><br>
</form>
<table>
<% var i; for (i=0; i < quizes.length; i++) {%>
  <tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
<% } %>
</table>